<!DOCTYPE html>
<html>
  <head>
    <title>HConSabor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    4/1AY0e-g5n3HKYPPSlH7hAh8ZBlx3Pv70evgeIMxRJ6T0SahFWJg-N8Fy0pTI
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
